<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<environment-map version="2">
  <exception-list>
    <exception-map code="prolog_exception" comment="Prolog exception" enable="true" response="continue" />
    <exception-map code="unspecified_exception" comment="Unspecified exception" enable="true" response="break" />
    <exception-map code="3765269347" comment="MS C++ exception" enable="true" response="continue" />
  </exception-list>
  <historic-map>
    <debugDir-list>
      <debugDir>deb</debugDir>
    </debugDir-list>
    <finalDir-list>
      <finalDir>exe</finalDir>
    </finalDir-list>
    <interDir-list>
      <interDir>obj</interDir>
    </interDir-list>
  </historic-map>
  <setting-map platform="Win32" readmeopen="true" resupdate="10:30:12-29.9.2023" />
  <window-list>
    <window-map filename="main.pro" kind="Editor" line="62" opened="true" pos="1" x1="454" x2="1022" y1="41" y2="297" />
  </window-list>
</environment-map>